{% assign sponsor = page.sponsor | default: site.sponsor %}
{% if sponsor %}

<aside class="sponsor-card">
    <span class="sponsor-card__eyebrow">
        {% if sponsor.type %}
        {{ sponsor.type }}
        {% else %}
        Page supported by
        {% endif %}
    </span>
    <a href="{{ sponsor.url }}" rel="sponsored noopener">
        <img class="sponsor-card__logo" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
        <span class="sponsor-card__text">
            <strong>{{ sponsor.name }}</strong>
            {{ sponsor.tagline }}
        </span>
    </a>
</aside>
{% endif %}