{% include header.html %}
<div class="{{page.type}} herobar">
    <header class="{{page.type}} header">
        <h1>{{page.title}}</h1>
        <p>{{page.description}}</p>
    </header>
    {% include sponsor.html %}

    {{ content }}

    <div class="scroll">
        <table id="planning-table" class="planning-table" data-sortable>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Application</th>
                    <th>Location</th>
                    <th class="postcode">Postcode</th>
                    <th class="number">Units</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for application in site.data["planning-applications"] %}
                <tr>
                    <td class="date" data-value="{{ application.received_date }}">{{ application.received_date }}</td>
                    <td>{% if application.url %}<a href="{{ application.url }}" target="_blank"
                            rel="noopener">{{ application.description }}</a>{% else %}{{ application.description }}{%
                        endif %}</td>
                    <td>{{ application.address }}</td>
                    <td class="postcode">{{ application.postcode }}</td>
                    <td class="number" data-value="{{ application.units | default: 0 }}">
                        {{ application.units | default: "-" }}
                    </td>
                    <td>{{ application.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <p><a href="https://publicaccess.cheltenham.gov.uk/online-applications/">Cheltenham Borough Council Planning
            Portal</a></p>

    {% include footer.html %}